@model CheWei_Task7Practice2.Models.Booking

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Booking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GuestId" class="control-label"></label>
                <input asp-for="GuestId" class="form-control" />
                <span asp-validation-for="GuestId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HotelId" class="control-label"></label>
                <input asp-for="HotelId" class="form-control" />
                <span asp-validation-for="HotelId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoomId" class="control-label"></label>
                <input asp-for="RoomId" class="form-control" />
                <span asp-validation-for="RoomId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArrivalDt" class="control-label"></label>
                <input asp-for="ArrivalDt" class="form-control" />
                <span asp-validation-for="ArrivalDt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartureDt" class="control-label"></label>
                <input asp-for="DepartureDt" class="form-control" />
                <span asp-validation-for="DepartureDt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
